form{
   display: flex;
   flex-direction: column;
   max-width: 20%;
   margin: 0 auto;
   padding: 1rem;
   min-height: 100vh;
   position: relative;
}

button{
   background-color: aqua;
   cursor: pointer;
   transition: ease-in;
   border-radius: .5rem;
   color: rgb(68, 47, 15);
   opacity: 0.8;
   transition: 0.3s;
}
button:hover{
   opacity: 1;
}

.cadastrar{
   background-color: rgb(8, 100, 200);
   text-align: center;
   width: 100%;
   color: aliceblue;
}